main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 4rem 0rem;
    background-color: var(--blue);
    margin-top: 6rem;
}

main > div {
    width: calc(100vw - 3rem);
    max-width: calc(1200px - 8rem);
    margin: 0 2rem;
    color: var(--white);
    font-size: 2.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

main h1,
main p {
    color: var(--white);
}

.section-1 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: calc(1200px - 3rem);
    justify-self: center;
}

.section-1 > form {
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-2-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-inputs input,
.form-inputs textarea {
    padding: 1.5rem 1rem;
    border: 2px solid var(--blue);
    border-radius: 1rem;
    color: var(--blue);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.form-inputs textarea {
    min-height: 12rem;
}

.form-inputs input::placeholder,
.form-inputs textarea::placeholder {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--blue);
    opacity: 0.4;
}

form button {
    align-self: flex-start;
}

form button :hover{
background-color: #dec8af;
}



@media (min-width: 768px) {
    main {
        padding: 6rem 0rem;
    }

    .question {
        padding: 2rem 0rem;
        margin: 0 4rem;
    }


    main > h1 {
        width: calc(100vw - 8rem);
        margin: 0 4rem;
        font-size: 4rem;
    }

    .section-1 {
        width: calc(100% - 8rem);
        padding: 6rem 4rem;
        max-width: calc(1200px - 8rem);
    }

    h4 {
        font-size: 1.5rem;
    }

    .section-1 > div {
        width: calc(100vw - 8rem);
    }

    .form-2-columns {
        flex-direction: row;
    }
}


.section-2 {
    width: 100vw;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-self: center;
    background-color: var(--light-blue);
}

.section-2 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.section-2-content {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.section-2-content > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-2-content a {
    text-decoration: underline;
    transition: 0.4s;
}

.section-2-content a:hover {
    color: var(--blue);
}

.section-2-map {
    aspect-ratio: 4/3;
    overflow: hidden;
}

@media (min-width: 768px) {
    main {
        padding: 6rem 0rem;
    }

    main > h1 {
        width: calc(100vw - 8rem);
        margin: 0 4rem;
        font-size: 4rem;
    }



    .section-2 > div {
        width: calc(100vw - 8rem);
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}