.section-1 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
    margin-top: 6rem;
}

.section-1 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.section-1 .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow-x: scroll;
    padding: 0 0 1.5rem 0;
}

.section-1 .card {
    min-width: calc(200vw / 3);
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 1rem;
    overflow: hidden;
}

.section-1 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    main > h1 {
        margin: 0 4rem;
        font-size: 4rem;
    }

    .section-1 {
        width: calc(100vw - 8rem);
        padding: 4rem 4rem;
    }

    .section-1 > div {
        width: calc(100vw - 8rem);
    }

    .section-1 .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        overflow: unset;
        padding: 0;
    }

    .section-1 .card {
        min-width: unset;
        width: 100%;
        aspect-ratio: 3/4;
        border-radius: 1rem;
        overflow: hidden;
    }
}

.section-2 {
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-self: center;
}

.section-2 > video {
    width: 100%;
    max-width: 1200px;
    background-size: cover;
    aspect-ratio: 16/9;
    border-radius: 2rem;
    margin: 3rem 0;
}

.section-2 .heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-2 .testimonial-slider {
    position: relative;
}

.section-2 .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.section-2 .testimonials > img {
    width: 100%;
    background-color: #f9f9f9;
    aspect-ratio: 3/4;
    border-radius: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

@media (min-width: 768px) {
    .section-2 {
        width: calc(100vw - 8rem);
    }

    .section-2 > div {
        gap: 2rem;
        padding: 4rem 4rem;
    }

    .section-2 .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media (min-width: 980px) {
    .section-2 > div {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

.section-3 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
    margin-top: 4rem;
}

.section-3 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.section-3 > div > div {
    max-width: calc(100vw - 3rem);
    overflow-x: scroll;
    padding: 0 1.5rem;
}

.section-3 img {
    aspect-ratio: 16/10;
    width: 200vw;
    justify-self: center;
    max-width: 1200px;
    object-fit: cover;
}

.section-4 {
    width: 100vw;
}

.section-4 img {
    width: 100%;
}

.section-4 img:nth-child(1) {
    display: none;
}

@media (min-width: 768px) {
    .section-3 {
        width: calc(100vw - 8rem);
        padding: 4rem 4rem;
    }

    .section-3 > div {
        width: calc(100vw - 8rem);
    }

    .section-3 img {
        width: calc(100vw - 8rem);
    }


    .section-4 img:nth-child(2) {
        display: none;
    }

    .section-4 img:nth-child(1) {
        display: block;
    }

    .section-3 > div > div {
    max-width: 1200px;
    width: 100vw - 8rem;
    overflow-x: unset;
}
}

.section-5 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
    margin-top: 4rem;
}

.section-5 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.section-5 .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.section-5 .images img {
    width: 100%;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .section-5 {
        width: calc(100vw - 8rem);
        padding: 4rem 4rem;
    }

    .section-5 .images {
        grid-template-columns: repeat(6, 1fr);
    }

    .section-5 > div {
        width: calc(100vw - 8rem);
    }
}


.section-3 h1, .section-5 h1 {
    text-align: center;
}

.section-6 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
    margin-top: 4rem;
}

.section-6 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.section-6 .images {
    width: 100%;
    display: flex;
    row-gap: 1rem;
    overflow-x: scroll;
}

.section-6 .images img {
    width: 70%;
}

@media (min-width: 768px) {
    .section-6 {
        width: calc(100vw - 8rem);
        padding: 4rem 4rem;
    }

    .section-6 > div {
        width: calc(100vw - 8rem);
    }

    .section-6 .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow-x: unset;
    }

    .section-6 .images img {
        width: 100%;
    }
}