body {
    background-image: url(/images/about/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: calc(100vw - 3rem);
    max-width: calc(1200px - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 8rem 1.5rem 4rem 1.5rem;
}

main > h1 {
    margin: 0 2rem;
    font-size: 2.5rem;
}

.section-1 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
}

.section-1 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.vision-mission {
    padding: 3rem;
    background-color: var(--white);
    border-radius: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 24px #1169891a;
}

.vision-mission h2 {
    color: var(--pink);
}

@media (min-width: 768px) {
    main {
        width: calc(100vw - 8rem);
        padding: 8rem 4rem 4rem 4rem;
    }

    main > h1 {
        margin: 0 4rem;
        font-size: 4rem;
    }

    .section-1 {
        width: calc(100vw - 8rem);
        padding: 4rem 4rem;
    }

    .section-1 > div {
        width: calc(100vw - 8rem);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .section-1 .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        overflow: unset;
        padding: 0;
    }

    .section-1 .card {
        min-width: unset;
        width: 100%;
        aspect-ratio: 3/4;
        border-radius: 1rem;
        overflow: hidden;
    }
}

@media (min-width: 1280px) {

}



.section-2 {
    width: calc(100vw - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-self: center;
}

.section-2 > div {
    display: grid;
    width: calc(100% - 3rem);
    max-width: calc(1200px - 8rem);
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: var(--light-pink);
    border-radius: 2rem;
    margin: 4rem 0;
}

.section-2 .heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-2 .testimonial-slider {
    position: relative;
}

.section-2 .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.section-2 > div > img {
    width: 100%;
    background-color: #f9f9f9;
    aspect-ratio: 3/4;
    border-radius: 1rem;
    box-shadow: 0 4px 24px #1169891a;
}

.why-choose-us {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.why-choose-us > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.why-choose-us-point {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.why-choose-us-point > img {
    width: 5rem;
    height: 5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

@media (min-width: 768px) {
    .section-2 {
        width: calc(100vw - 8rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        justify-self: center;
    }

    .section-2 > div {
        width: calc(100% - 8rem);
        max-width: calc(1200px - 8rem);
        border-radius: 4rem;
    }

    .section-2 > div {
        gap: 2rem;
        padding: 4rem 4rem;
    }

    .section-2 > div {
        display: grid;
        gap: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
    
    .why-choose-us > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (min-width: 980px) {
    .section-2 > div {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 4rem;
    }

}