main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 4rem 0rem;
    background-color: var(--blue);
    margin-top: 6rem;
}

main > h1 {
    width: calc(100vw - 3rem);
    max-width: calc(1200px - 8rem);
    margin: 0 2rem;
    color: var(--white);
    font-size: 2.5rem;
}

.section-1 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
}

.section-1 > div {
    width: 100%;
    max-width: 1200px;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
    background-color: var(--light-blue);
}

.section-1 .title {
    padding: 2rem 1.5rem;
    background-color: var(--blue);
}

.section-1 .title h4 {
    color: var(--white);
}


h4 {
    font-size: 1.125rem;
}

.questions {
    padding: 1rem 0;
}

.question {
    padding: 1rem 0rem;
    margin: 0 1.5rem;
    border-bottom: 2px solid var(--blue);
    display: flex;
    flex-direction: column;
}

.question:last-child {
    border-bottom: none;
}

.question-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.question-title svg {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    aspect-ratio: 1/1;
    transition: 0.4s ease-out;
}

.question-answer {
    max-height: 0px;
    transition: 0.4s;
    padding-top: 0;
    opacity: 0;
    pointer-events: none;
}

.question-active {
    gap: 0;
}

.question-active .question-answer {
    padding-top: 1.5rem;
    max-height: 100rem;
    pointer-events: all;
    opacity: 1;
}


.question-active svg {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    main {
        padding: 6rem 0rem;
    }

    .question {
        padding: 2rem 0rem;
        margin: 0 4rem;
    }


    main > h1 {
        width: calc(100vw - 8rem);
        margin: 0 4rem;
        font-size: 4rem;
    }

    .section-1 {
        width: 100%;
        padding: 6rem 4rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .section-1 > div {
        width: calc(100vw - 8rem);
    }

    .section-1 .title {
        padding: 2rem 4rem;
        background-color: var(--blue);
    }
}