main {
    width: 100vw;
    min-height: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/home/hero-background.png);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    gap: 1.5rem;
}

main > h1 {
    margin: 0 2rem;
    font-size: 2.5rem;
}

.section-1 {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    justify-self: center;
}

.section-1 > div {
    max-width: 1200px;
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    
}

.section-1 .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow-x: scroll;
    padding: 0 0 1.5rem 0;
}

.section-1 .card {
    min-width: calc(200vw / 3);
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 1rem;
    overflow: hidden;
}

.section-1 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    main > h1 {
        margin: 0 4rem;
        font-size: 4rem;
    }

    .section-1 {
        width: calc(100vw - 8rem);
        padding: 4rem 4rem;
    }

    .section-1 > div {
        width: calc(100vw - 8rem);
    }

    .section-1 .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        overflow: unset;
        padding: 0;
    }

    .section-1 .card {
        min-width: unset;
        width: 100%;
        aspect-ratio: 3/4;
        border-radius: 1rem;
        overflow: hidden;
    }
}

@media (min-width: 1280px) {

}



.section-2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-self: center;
    background-color: var(--light-blue);
}

.section-2 > div {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    padding: 4rem 2rem;
}

.section-2 .heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-2 .testimonial-slider {
    position: relative;
}

.section-2 .testimonials {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0 0 1rem 0;
    overflow-x: scroll;
    border-radius: 1rem;
}

.section-2 .testimonials > img {
    width: 70%;
    background-color: #fff;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    object-fit: contain;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

@media (min-width: 768px) {
    .section-2 > div {
        gap: 2rem;
        padding: 4rem 4rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media (min-width: 980px) {
    .section-2 > div {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}