@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #ffffff;

    --black: #2e2d2c;
    --dark-blue: #175563;
    --blue: #116989;
    --light-blue: #e2f3ff;
    --pink: #fe8fad;
    --light-pink: #ffeef4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    display: grid;
    justify-content: center;
    overflow-x: hidden;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 4rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 3.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 2.5rem;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 2rem;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


h5 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


h6 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 1rem;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p, a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--dark-blue);
    text-decoration: none;
}

button {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--white);
    background-color: var(--pink);
    border: none;
    border-radius: 1rem;
    padding: 12px 24px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

button:hover {
    background-color: var(--dark-blue);
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.desktop-nav {
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    z-index: 1000;
}

.desktop-nav > div {
    width: calc(100% - 3rem);
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: calc(6rem - 1rem);
    padding: 1rem 1.5;
    align-items: center;
}

.desktop-nav ul {
    list-style-type: none;
    display: none;
    gap: 2.5rem;
    padding: 0;
    margin: 0;
    align-self: center;
    align-items: center;
}

.desktop-nav input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    color: var(--blue);
    opacity: 0.5;
}

.desktop-nav input {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    color: var(--blue);
}

.desktop-nav input:focus {
    outline: none;
}

.desktop-nav svg {
    width: 2rem;
    fill: var(--dark-blue);
}

.desktop-nav #active-link {
    background-color: var(--pink);
    border: none;
    border-radius: 1rem;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.desktop-nav #active-link a {
    color: var(--white);
}

.desktop-nav > div > img:hover,
#menu-button {
    cursor: pointer;
}

@media (min-width: 768px) {
    .desktop-nav > div {
        width: calc(100% - 8rem);
        padding: 1rem 4rem;
        align-items: center;
    }

    .desktop-nav svg {
        display: none;
    }

    .desktop-nav ul {
        display: flex;
    }
}

@media (min-width: 1280px) {
    .desktop-nav ul {
        gap: 3.5rem;
        display: flex;
    }
}

.mobile-nav {
    width: calc(70vw - 4rem);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white);
    z-index: 999;
    padding: 6rem 2rem;
    transform: translateX(100vw);
    transition: 0.4s;
}

.mobile-nav-active {
    transform: translateX(0);
}

.mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.background-black {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.4s;
    position: fixed;
    pointer-events: none;
}

.background-black-active {
    background-color: var(--black);
    opacity: 0.6;
    z-index: 998;
    pointer-events: all;
}


footer {
    width: 100vw;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    gap: 4rem;
}

footer > div {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

footer > div:nth-child(2) {
    background-color: var(--light-blue);
    width: 100vw;
    max-width: unset;
    justify-content: center;
    padding: 1rem 0;
}

footer > div:nth-child(2) > h5 {
    width: calc(100% - 3rem);
    max-width: 1200px;;
    justify-self: center;
    text-wrap: wrap;
    text-align: center;
}

footer > div > div:nth-child(1) {
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer > div > div:nth-child(1) > img {
    width: 100%;
    max-width: 20rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

footer ul a {
    color: var(--white);
}

footer > div > div:nth-child(3) {
    display: flex;
    justify-content: center;
    width: calc(100% - 3rem);
}

footer > div > div:nth-child(3) > div {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    align-items: center;
    width: fit-content;
    text-align: center;
}

footer > div > div:nth-child(3) > div h6,
footer > div > div:nth-child(3) > div h5,
footer > div > div:nth-child(3) > div h4 {
    color: var(--white);
}

footer > div > div:nth-child(3) > div > li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer > div > div:nth-child(3) > div > li > a {
    color: var(--white);
}

footer > div > div:nth-child(3) > div > li {
    list-style-type: none;
}

footer .socials {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    justify-self: center;
}

footer .socials svg {
    width: 2rem;
    height: 2rem;
    fill: var(--white) !important;
}

footer .socials svg:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    footer > div:nth-child(1) {
        max-width: 1200px;
        width: calc(100% - 8rem);
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer > div > div:nth-child(1),
    footer > div > div:nth-child(3) {
        width: 100%;
    }

    footer > div > div:nth-child(3) > div {
        align-items: flex-start;
        text-align: left;
    }

    footer > div:nth-child(2) > h5 {
        width: calc(100% - 8rem);
    }

}

@media (min-width: 1280px) {
    footer .socials svg {
        width: 3rem;
        height: 3rem;
        fill: var(--white) !important;
    }
}